<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>777092529220-rf8rdn79m05h028luk9atl2dabtil39r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.777092529220-rf8rdn79m05h028luk9atl2dabtil39r</string>
	<key>API_KEY</key>
	<string>AIzaSyBcyIcvtQw2f3nbSwMj3fCY9VlkEGLJc9A</string>
	<key>GCM_SENDER_ID</key>
	<string>777092529220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Program.lb</string>
	<key>PROJECT_ID</key>
	<string>linguists-battle-bd333</string>
	<key>STORAGE_BUCKET</key>
	<string>linguists-battle-bd333.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777092529220:ios:e32dc88370a10109645011</string>
	<key>DATABASE_URL</key>
	<string>https://linguists-battle-bd333.firebaseio.com</string>
</dict>
</plist>